{
  "plugins": [
    "prettier-plugin-organize-attributes"
  ],
  "printWidth": 150,
  "trailingComma": "none",
  "organizeAttributes": {
    "maxAttrsOnTag": 2,
    "multiline": "force"
  },
  "bracketSpacing": true
}